* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
}
label {
  width: 100%;
}
h2 {
  margin-bottom: 10px;
}
